<style>
  .wrapper {;
    max-width:fit-content;
    padding-right: 15px;
    padding-left: 30px;
    margin-left:0;
  }
  .site-title {
    display:inline-flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0;
  }

  img{
    width: 250px;
  }

</style> 

<header class="site-header">

  <div class="wrapper">
    <div class="site-title">
      <div>
      <a  rel="author"><img src="images/csmap_logo_sq.png" alt="{{ site.title | escape }}"></a></div>
      <div><h1 style="color:#000;padding-top:0;margin-left:10px;font-size:20px;font-weight: 800; margin-bottom:0">TikTok Data Upload</h1></div>
    </div>
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.tiktok_upload | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}  
  </div>
</header>