
<header class="site-header">

  <div class="wrapper">
    <div>
      <a class="site-title" rel="author"><img src="images/csmap_logo_sq.png" style="max-width:25%; padding-top:10px;" alt="{{ site.title | escape }}">Instructions TikTok Takeout</a>
      <!-- <h1 style="color:#666; padding-top:0; margin-top:0; font-weight:bold;"></h1> -->
    </div>
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.tiktok | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    {%- if titles_size > 0 -%}
        
    <nav class="site-nav">
      <div class="trigger">
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <a class="page-link" style="font-weight:bold;" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </nav>
    {%- endif -%}
  </div>
</header>
