
<style>
  .wrapper {;
    max-width:fit-content;
    padding-right: 15px;
    padding-left: 30px;
    margin-left:0;
  }
  .site_title{
    display:flex;
    align-items: center;
    justify-content: center;
  }
  img{
    width: 300px;
  }
</style> 

<header class="site-header">

  <div class="wrapper">
    <div class="site-title">
      <div>
      <a  rel="author"><img src="images/csmap_logo_sq.png" alt="{{ site.title | escape }}"></a></div>
      <div><h1 style="color:#666; padding-top:0; margin-top:0; font-weight:bold;">TikTok Takeout Instructions</h1></div>
    </div>
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.tiktok | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    {%- if titles_size > 0 -%}  
    <nav class="site-nav">
      <div class="trigger">
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <a class="page-link" style="font-weight:bold;" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </nav>
    {%- endif -%}
  </div>
</header>
