<style>
  .wrapper {;
    max-width:fit-content;
    padding-right: 15px;
    padding-left: 0;
    margin-left:0;
  }

</style> 

<header class="site-header">

  <div class="wrapper">
     <div style="padding:10px;">
      <a class="site-title" rel="author"><img src="images/csmap_logo_sq.png" style="max-width:25%; padding-top:10px;" alt="{{ site.title | escape }}"></a>
    </div>
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.tiktok_upload | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%} 
  </div>
</header>