<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

   {%- include head.html -%}
  
   
  
  <style>
    body {
      background-image: url("https://socialarchive.csmapnyuapps.org/login-bg3.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
    }

    .page-content {
      background: rgba(255, 255, 255, 0.88);
      border-radius: 12px;
      margin-top: 12px;
      margin-bottom: 12px;
      backdrop-filter: blur(1px);
    }
  </style>
<body>
     
  {%- include header_twitter_factchecking.html -%}

 
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
